<!-- <div class="col-md-12" style="overflow:auto;">
  <div class="col-md-8 pull-left" style="display: flex; align-items:center; justify-content: center;">
    <img src="./images/jersey-logo.png" style="height: 400px;">
  </div>
  <div class="col-md-4 pull-left">
    <div class="col-md-12 pull-left" style="height: 300px;">
      <h2>
        America's
        #1 League!
        Over 1500 teams
        in the past year!
        More levels of competition than any league in the country!
      </h2>
    </div>
    <div class="col-md-12 pull-left" style="height: 200px;">
      <h2>
        Next season starts 
        September 1, 2014
      </h2>
    </div>
  </div>
</div>
<div class="col-md-12">
  <h3>
    #1 NYC Basketball League
 
    The League begins the week of June 23rd, and welcomes teams and individuals and features both Men’s and Women’s Divisions. Fielding 1,500 adult basketball teams in the past year, we are America’s #1 League! Last Summer we fielded an incredible 330 teams!
    $1,240 per team includes
    1 rating scrimmage (scrimmages begin June 16th)
    8 Regular Seasons Game plus Playoffs! 
    t-shirts and all Court & Referee fees
    Space is limited. Sign Up Your Team Online today or Download a roster to fax or mail………..NEED A TEAM? Come to our Open Scrimmage on Tuesday, June 17th, at 7:00 PM. Be a part of the best NYC Basketball League.
  </h3>
</div> -->

<div class="col-xs-12 col-sm-12">
  
  <div class="col-xs-12 col-sm-12"><h1><span class="orange">NYCBA</span> League</h1></div>
  
  <div class="col-xs-12 col-sm-12"><h4><strong><span class="red">Four Seasons</span> year round of adult basketball leagues for players of all levels at one location</strong></h4></div>


  <div class="col-xs-12 col-sm-12 gray-box">
    <h2>The League begins the week of September 8th</h2> 
    <h3>and welcomes teams and individuals and features Men's Divisions.<br><br>
    <span class="orange">Fielding 6 Divisions of adult basketball teams in a prime location in NYC!</span><br><br>
    All player statistics and division leaders are recorded and made available online right after game is played.</h3>
  </div>

  <div class="col-xs-12 col-sm-12 text-left">
    <h2 class="orange">$1,250 <small>(per team)</small></h2>
  </div>

  <div class="col-xs-12 col-sm-6 pull-left text-left">
    <h3>Includes:</h3>

    <ul>
      <li><strong>Full Stat Tracking Online</strong></li>
      <li><strong>8 Regular Season Games + Playoffs!</strong></li>
      <li><strong>Championship Trophy</strong></li>
      <li><strong>Reversible Jerseys</strong></li>
      <li><strong>All Court and Referee Fees</strong></li>       
    </ul>

    <p class="red">Space is limited.</p>

    <span class="btn-orange"><a href="/signup">Sign Up Your Team Online Today!</a></span>

  </div>

  <div class="col-xs-12 col-sm-6 pull-left dotted-box">
    <h3 class="orange">NEED A TEAM?</h3> 
      Come to our Open Scrimmage on<br> 
      <span class="orange">Tuesday, June 17th, at 7:00 PM.</span><br>
      Be a part of the<br>
      best NYC Basketball League.<br><br>
  </div>

</div>

<!-- 
<div class="col-md-12"> -->
    <!-- <div class="col-md-12 pull-left" style="text-align:center; margin-bottom:50px;">
      <h2><span style="font-size:60px;"><span class="orange">NYCBA</span> League</span></h2>
      <h5><span class="red">Four Seasons</span> year round of adult basketball leagues for players of all levels at one location</h5>
    </div> -->
    <!-- <div class="col-md-12">
    <div class="col-md-12 pull-left" style="text-align:center; background-color: rgba(0,0,0,.75); padding:20px; border-radius:50px; color:#FFF; line-height:1.2em;">
       <h2>The League begins the week of June 23rd</h2> 
       <h3>and welcomes teams and individuals and features Men's Divisions.</h3><br>
       <h3 class="orange">Fielding 6 Divisions of adult basketball teams ina prime location in NYC!</h3><br>
       <h3>All player statistics and division leaders are recorded and made available online right after game is played.</h3>
      
    </div></div> -->
    
   <!--  <div class="col-md-12">
    <div class="col-md-6 pull-left" style="text-align:left; padding:20px; line-height:1.2em;">
       <h3><span class="orange">$1,500</span> <small>(per team)</small> </h3>
       <h3>Includes:</h3>
       
    <ul>
      <li><strong>Full Stat Tracking Online</strong></li>
      <li><strong>10 Regular Season Games + Playoffs!</strong></li>
      <li><strong>Reversable Jerseys</strong></li>
      <li><strong>All Court and Referee Fees</strong></li>       
    </ul>
    
    <p class="red">Space is limited.</p> 
    <br>
    <div class="text-center">
    <a href="/signup" style="color:#FFF;"><span style="background-color:#F90; padding:10px; border-radius:50px; border:2px solid #000; box-shadow: #000 3px 3px; text-align:center;">Sign Up Your Team Online Today</span></a> 
    <br><br>   
       
       
       
       </div> -->
       
       
     <!--   <div class="col-md-6 pull-left" style="text-align:center; background-color: rgba(255,255,255,.85); padding:20px; border-radius:50px; color:#000; line-height:1.2em; border: 3px dotted #F7901E; margin-top:100px;">
      <h3 class="orange"> NEED A TEAM?</h3> 
      Come to our Open Scrimmage on<br> 
      <span class="orange">Tuesday, June 17th, at 7:00 PM.</span><br>Be a part of the<br> best NYC Basketball League.
      
    </div></div>
    
    
    
    
    
    
   
  </div> -->