<h1 class="text-center">{{division.name}}</h1>
<h4 class="text-center">Past Games' Scores:</h4>
<hr>

<div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12 alternate-row last-week">
	<div class="col-md-12" ng-repeat="weeks in (lastWeekGames | unique) | orderBy:'weekNumber' ">
  	Week {{weeks.weekNumber + 1}}, {{weeks.day}}, {{weeks.date | date:'MM-dd-yyyy'}}
		<div class="col-md-12" style="overflow:hidden;" ng-repeat="game in lastWeekGames | byWeek:weeks.weekNumber | orderBy: 'timeSlot'">
			<span class="col-xs-12 col-sm-4 pull-left text-left" ng-class="{orange: game.team1Scores.hasWon}"><strong>{{game.team1Scores.name}}</strong></span>
			<span ng-hide="game.team1Scores.points === 0">
				<span class="col-xs-5 col-sm-1 pull-left text-left" ng-class="{'orange strong': game.team1Scores.hasWon}">{{game.team1Scores.points}}</span>
				<span class="col-xs-2 col-sm-2 pull-left">-</span>
				<span class="col-xs-5 col-sm-1 pull-left text-right" ng-class="{orange: game.team2Scores.hasWon}">{{game.team2Scores.points}}</span>
			</span>
			<span ng-show="game.team1Scores.points === 0 && game.team1Scores.hasWon === false">
				<span class="col-xs-5 col-sm-1 pull-left text-left">0</span>
				<span class="col-xs-2 col-sm-2 pull-left">-</span>
				<span class="col-xs-5 col-sm-1 pull-left text-right orange strong">1</span>
			</span>
			<span ng-show="game.team1Scores.points === 0 && game.team1Scores.hasWon === true">
				<span class="col-xs-5 col-sm-1 pull-left text-left orange strong">1</span>
				<span class="col-xs-2 col-sm-2 pull-left">-</span>
				<span class="col-xs-5 col-sm-1 pull-left text-right">0</span>
			</span>
			<span class="col-xs-12 col-sm-4 pull-left text-right" ng-class="{orange: game.team2Scores.hasWon}"><strong>{{game.team2Scores.name}}</strong></span><br>
		</div>
		<div class="clearfix"></div>
		<br>
	</div>
</div>

<div class="clearfix"></div>

<div class="padding-top-2">
	<h4 class="text-center">Upcoming games:</h4>
	<hr>
</div>


<div class="col-xs-12 upcoming-games no-padding">
  <div ng-hide="noUpcomingGames">
    <div class="col-lg-6 col-md-12 no-padding-sm" ng-repeat="weeks in (upcomingWeeksGames | unique) | orderBy:'weekNumber' ">
      <div>
	      <div class="upcoming-game-pill">
	        
	        <div class="col-lg-6 col-xs-6 text-center">
	          <div class="upcoming-game-calendar-pill">
		          <div class="upcoming-calendar-pill-header white">WEEK</div>
		          <h2>{{weeks.weekNumber + 1}}</h2>
		          <div class="date">{{weeks.date | date:'MM/dd/yy'}}</div>
	      	  </div>
	        </div>

	        <div class="col-lg-6 col-xs-6 pull-right upcoming-game-schedule">

		        <div ng-repeat="game in upcomingWeeksGames | byWeek:weeks.weekNumber | orderBy:'timeSlot' ">

			        <div class="col-md-12 text-center upcoming-game-text">
			          <strong>{{game.team1.name}}</strong><br>
			          vs.<br>
			          <strong>{{game.team2.name}}</strong><br>
			          
			          <span class="red margin-top-05">
			            <span class="fa fa-clock-o"></span> <strong>{{game.timeSlot}}</strong>
			            <br>
			          </span>
		          
		        	</div>

		        	<div class="col-md-12"><hr ng-hide="$last"></div>

		        	
		        </div>

	    	</div>

	      </div>

	    </div>
	</div>
  </div>

  <div ng-show="noUpcomingGames" class="padding-left-2">
    <h4><strong>There are no upcoming games for this division</strong></h4>
  </div>

</div>

